<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="css/main.css">
  <title>form</title>
</head>
<body>
  <header>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/form">Sign In</a></li>
      </ul>
    </nav>
  </header>

  <form action ="/users" method="POST" >
  <input type ="text" name="title">
  <button type="submit">Submit</button>
  </form>
</body>
</html>